@font-face {
  font-family: 'PT_Sans';
  src: url(PT_Sans.ttf);
}

html {
  font-family: PT_Sans;
}

a[href*=chocolate], a[href*=Chocolate] {
  color: red;
}

a[href^="http:"]:hover {
  font-size: 2em;
}

@media only screen and (max-width: 500px) {
  html {
    text-transform: uppercase;
  }
}