@font-face {
  font-family: 'PT_Sans';
  src: url(PT_Sans.ttf);
}

html {
  font-family: PT_Sans;
}

a[href*=chocolate], a[href*=Chocolate] {
  color: red;
}

a[href^="http:"]:hover {
  font-size: 2em;
}

@media only screen and (max-width: 500px) {
  html {
    text-transform: uppercase;
  }
}

img[src="1.jpg"] {
  transform: rotateX(180deg);
}

img[src="2.jpg"] {
  height: 100%;
  width: 100%;
  transition: width 2s, height 2s;
}

img[src="2.jpg"]:hover {
  height: 50%;
  width: 50%;
}

img[src="3.jpg"] {
  width: 100%;
  height: 100%;
  animation-name: giro;
  animation-duration: infinite;
}

@keyframes giro {
  0% {
    transform: rotateX(180deg);
    transform: scale(200%);
  }
  100% {
    transform: rotateX(360deg);
    transform: scale(50%);
  }
}